---
import "~/styles/reset.css";
import "~/styles/base.css";

import smartypants from "smartypants";

const siteName = "I miss you so much";

export interface Props {
  title: string;
  description: string;
  image?: {
    src: string;
    alt: string;
  };
}

const { title, description, image } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pageTitle = title;
const baseURL = import.meta.env.BASE_URL;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" href={`${baseURL}favicon.ico`} sizes="any" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={`${baseURL}favicon-32x32.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={`${baseURL}favicon-16x16.png`}
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={`${baseURL}apple-touch-icon.png`}
    />
    <title set:html={smartypants(pageTitle, 1)} />
    <meta name="description" content={smartypants(description, 1)} />
    <meta property="og:title" content={smartypants(title, 1)} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={smartypants(description, 1)} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content={siteName} />
    {
      image && (
        <>
          <meta property="og:image" content={image.src} />
          <meta property="og:image:alt" content={image.alt} />
        </>
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>
